*.aux
*.bbl
*.blg
*.log
*.out
*.rel
*.synctex.gz
*_region_.tex
*.pyc
*.csv
*.tui
*.top
*.mp
*.Rapp.history
definitional_disjunction.pdf
levy-potts-lsa2015-abstract.pdf
levy-potts-pragdisj-outline.pdf
levy-potts-pragdisj.pdf
pypragmods/.ipynb*